<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <packageSources>		
		<add key="Insure" value="https://mak-it.pkgs.visualstudio.com/InSure/_packaging/Insure/nuget/v3/index.json" />
		<add key="eVida" value="https://mak-it.pkgs.visualstudio.com/eVida/_packaging/evida-feed/nuget/v3/index.json" />
    </packageSources>
</configuration>